@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --ff: "League Spartan", sans serif;
  --fw-lighter: 400;
  --fw-normal: 500;
  --fw-bold: 700;
  --fs: 15px;

  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);

  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--ff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

br {
  display: none;
}

section.hero h1 {
  color: var(--clr-very-dark-magenta);
  font-size: 2.5em;
  margin-inline: auto;
  padding: 50px 50px 0px 50px;
  text-align: center;
  margin-bottom: 1.5rem;
}

section.hero p {
  text-align: center;
  margin-inline: auto;
  font-size: 19px;
  padding: 0px 18px 0px 18px;
  color: var(--clr-dark-grayish-magenta);
  line-height: 1.3em;
  font-weight: var(--fw-normal);
  margin-bottom: 2.3rem;
}

section.ratings {
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
div.rating {
  width: 100%;
  background-color: var(--clr-light-grayish-magenta);
  border-radius: 0.5rem;
  padding: 20px;
  text-align: center;
}

div.rating h2 {
  margin-top: 10px;
  font-size: 1.1em;
  color: var(--clr-very-dark-magenta);
  font-weight: var(--fw-bold);
}

section.testimonials {
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

div.testimonial {
  background-color: var(--clr-very-dark-magenta);
  padding: 35px;
  border-radius: 0.5rem;
}

div.testimonial div.buyer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 1.5rem;
}

div.testimonial div.buyer img {
  max-width: 38px;
  max-height: 38px;
  border-radius: 50%;
}

div.testimonial div.buyer div.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.testimonial div.buyer h3 {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 15px;
}

div.testimonial div.buyer p {
  color: var(--clr-soft-pink);
  font-weight: 400;
  font-size: 15px;
}

div.testimonial p {
  color: var(--clr-white);
  line-height: 1.4em;
  padding-right: 30px;
}

@media (min-width: 1355px) {
  main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  section.hero {
    padding: 0px 18px 0px 18px;
  }

  section.hero h1 {
    font-size: 2.9em;
    text-align: left;
    padding: 0;
    padding-right: 15rem;
  }

  section.hero p {
    text-align: left;
    padding: 0;
    padding-right: 10rem;
  }

  section.ratings {
    align-items: center;
  }

  section .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    max-width: 80%;
  }

  section .rating h2 {
    margin: 0;
  }
  section .rating img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  section.ratings div.first {
    margin-right: 7rem;
  }
  section.ratings div.third {
    margin-left: 7rem;
  }

  section.testimonials {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    align-items: center;
  }


  section.testimonials .first {
    margin-bottom: 3rem;
  }

  section.testimonials .third {
    margin-top: 3rem;
  }
}


@media only screen and (max-width: 1354px) and (min-width: 750px) {
  section.testimonials {
    flex-direction: row;
  }
}
